#top-bar
  - if @already_rsvpd
    %h1 THANKS FOR HOLLERING!
  - else
    %h1 WILL YOU JAM WITH US?
    #vote
      = link_to '#', new_rsvp_path(rsvp: 'yay'), :remote => true, :id => 'yay'
      = link_to '#', new_rsvp_path(rsvp: 'nay'), :remote => true, :id => 'nay'

  #ribbon
    = image_tag 'CPBG_Logo.png'

#form

#hero
  = image_tag 'CPBG_Jam.png', :class => 'full'

.content
  = image_tag 'CPBG_Date.png', :class => 'full'

  %p
    We’ll start around 4pm and keep going until we are done. Come by when you can; stay as late as you like. We’ll be grilling half smokes and veggie half smokes; chomping on potato chips; scooping up salads; filling pints with homemade beer; ogling at the fall foliage; possibly having a sing-a-long; and celebrating all things craig and becca.

  .spacer &nbsp;

  #midline
    %h2
      CABOOSE FARM
      %span.ornament &nbsp
      SABILLASVILLE, MD

  .spacer &nbsp;

  %h3 14754 MANAHAN RD, SABILLASVILLE, MD 21780

  %p
    Trees! A pond! Farm houses named after presidents! A real train caboose! A perfect dose of adventure for our little, informal to-do. To get there: take I-270 to US-15 N in Frederick; Stay on 15 until MD-77 and exit toward Thurmont; Turn right onto MD-77 W (W Main St); Right onto Foxville Deerfield Rd and continue straight onto Manahan Rd. On your left you’ll see a barn and the Washington House. Park by the barn, walk across the street, past the pond, past the caboose and on to the Jefferson House for the fun.

#bottom-spacer
#bottom-bar
  .left
    = image_tag 'CPBG_LogoHrz.png'

    %p
      In May 2012, the partnership between Craig Partin and Becca Gurney formed over skeeball and pie. They’ve been on adventure since. The partnership was made legal at a private, civil ceremony in Summer 2015.

  .right
    = image_tag 'CPBG_cpbg.png'
